*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignorar archivos y carpetas de SonarLint
.sonarlint/
.sonarlint/conf
.sonarlint/conf/*
.idea/sonarlint/*
/.idea/sonarlint

